<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>



<div ng-app="myApp" ng-controller="myCtrl"  >
    <ol>
        <li ng-repeat="x in orders">

            <div class="dropdown">
                <input  type='text' ng-model="x.name">
                <span ng-repeat="i in items" class="dropdown-content"  >{{i.name}}</span>
            </div>
            <div class="dropdown">
                <input  type='text' ng-model="x.type">
                <span ng-repeat="t in getType()" class="dropdown-content" >{{t}}</span>
            </div>
            <div class="dropdown">
                <input type='number' ng-model="x.quantity">
            </div>
            <div class="dropdown">
                <input type='number' ng-model="x.price">
            </div>
            <div>
                <span>{{x.quantity*x.price}}</span>
            </div>
            <div style="width:10%">
                <button ng-click='addOneItem($index)'>添加</button>
            </div>
            <div style="width:10%;">
                <button ng-click='deleteOneItem($index)'>删除</button>
            </div>
        </li>
    </ol>
    <ol>
    </ol>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.orders=[{name:'',price:0,quantity:0}];
    $scope.items=["A","B"];
	$scope.addOneItem=function($index){
		$scope.orders.splice($index+1,0,{name:'',price:0,quantity:0});
	};
	$scope.deleteOneItem=function($index){
		$scope.orders.splice($index,1);
	};
	$scope.computePrice=function(){
		var sum = 0;
		for (var x in $scope.orders){
			sum+=$scope.orders[x].price*$scope.orders[x].quantity;
		};
		return sum;
	};
	$scope.setItemName=function($x,$i){
		$x.name=$i;
	};


});
</script>
</body>
</html>