<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" style="text/css" th:href="@{~/css/systemstyle.css}"/>
</head>
<body>

<div >
    <div class="headerBox">
        <div class="topLogo">
            <a href="#"><img th:src="@{~/pic/address.png}" /></a>
        </div>
        <div class="title">
            <h3>Title</h3>
        </div>
    </div>
</div>
<div class="locationLine" >
    当前位置：首页 &gt; <em>页面</em>
</div>
<table class="globalMainBox" style="position:relative;z-index:1" >
    <tr>
        <td class="columnLeftBox" valign="top">
            <div layout:fragment="nav">

            </div>
        </td>
        <td class="whiteSpace">
            <div layout:fragment="content">

            </div>
        </td>

    </tr>

</table>



</body>
</html>